@font-face {
    font-family: "Biryani";
    src: url("../assets/fonts/Biryani-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: url("../assets/fonts/Sarabun-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sansation";
    src: url("../assets/fonts/Sansation-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SansationLight";
    src: url("../assets/fonts/Sansation-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
