.tag {
    background-color: var(--dark-secondary);
    border: 1px solid #57ad42;
    border-radius: 50px;
    color: var(--light-primary);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
