.tag {
    font-family: "SansationLight", sans-serif;
    background-color: #171a21;
    border: 1px solid #57ad42;
    border-radius: 50px;
    color: #ffffff;
    padding: 3px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.tag:not(:last-child) {
    margin-right: 20px;
}
