.tag {
    background-color: #171a21;
    border: 1px solid #57ad42;
    border-radius: 50px;
    color: #ffffff;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
