.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.myListButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
}

.darkModeButton {
    margin-right: 50px;
}

.logo {
    width: 100px;
    padding-top: 10px;
}
