@import url("../../styles/index.css");

.footer {
    background-color: var(--dark-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
    color: var(--light-primary);
    height: 98px;
    position: relative;
    bottom: 0;
}

.footerDark {
    background-color: var(--dark-secondary);
}

.icons {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
}

.icon:not(:last-child) {
    margin-right: 5px;
}
