@import url("../../styles/fonts.css");
/* Card Properties */
.card {
	background-color: #171a21;
	color: #ffffff;
	border: 2px solid #595f47;
	border-radius: 10px;

	box-sizing: border-box;
	max-width: 250px;
	height: fit-content;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	flex-basis: 1em;
	flex-grow: 0;
	flex-shrink: 0;
}

.card:not(:last-child) {
	margin-right: 15px;
	margin-bottom: 15px;
}
/* Inside Card Properties */
.title {
	font-family: "SansationLight", sans-serif;
	width: 100%;
	font-size: 1.8rem;
	/* margin: 15px 0px; */
	padding: 2px;
	display: flex;
	justify-content: center;
}

.image {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 2px solid #595f47;

	display: block;
	box-sizing: border-box;
	object-fit: cover;
}

.tagGroup {
	padding: 5px 10px 2px;
	display: flex;
	overflow: auto visible;
}

.scrollbar::-webkit-scrollbar {
	height: 4px;
}
.scrollbar::-webkit-scrollbar-thumb {
	background: gray;
}
.scrollbar::-webkit-scrollbar-track {
	background: #c4c4c4;
}

/* CardGroup Properties */
.cardGroup {
	margin: 50px auto;
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
}
